@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(20,30,40);
    height: 100vh;
}

body::-webkit-scrollbar {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #12b886;
}

.container {
    max-width: 1500px;
    margin: auto;
}

/* CABEÇALHO */

header {
    background: #fff;
    font-weight: 600;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.header {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header img {
    width: 40px;
    height: 40px;
}

.header h1 {
    font-size: 1.7em;
}

/* MAIN - PARTE PRINCIPAL */

main {
    padding: 0 20px 200px 20px;
}

/* FILTROS */

.filtersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#botoesContainer {
    width: 100%;
    min-width: 300px;
    display: flex;
    gap: 20px;
}

.estiloGeralBotoes {
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    background: rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #12b886;
    font-size: 0.9rem;
}

.estiloGeralBotoes--filter:hover {
    background-color: #12b886;
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border: none;
    padding: 0 10px;
    background: #f1f3f5;
    border-radius: 8px;
    margin-right: 5px;
    width: 250px;
    color: #515252;
    font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #12b886;
    border: 1.5px solid #12b886;
    border-radius: 8px;
}

@keyframes resultadoPesquisa {
    0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
}

#resultadoPesquisa {
    animation: resultadoPesquisa 3s infinite;
    background-image: linear-gradient(#4a06e744, #4a06e788), url("https://images2.alphacoders.com/954/954227.jpg");
    background-size: cover;
    border-radius: 50px;
    color: #fff;
    height: 300px;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;    
}

#resultadoPesquisa img {
    width: 60%;
    max-height: 150px;
    max-width: 200px;
}

/* VALOR TOTAL */

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
    width: 100%;
    display: flex;
    gap: 30px;
}

.containerListaProdutos .listaProdutos {
    min-height: 500px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 30px;
    width: 70%;
}

.containerListaProdutos .listaProdutos .card {
    border-radius: 8px;
    transition: ease-in-out 0.1s;
    min-width: 180px;
    padding: 10px 0 30px 10px;
    transition: all 0.5s;
}

.containerListaProdutos .listaProdutos .card:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 13px 1px #12f05c;
}

.containerListaProdutos .listaProdutos .card:hover * {
    color: #1aeb71;
}

.containerListaProdutos .listaProdutos .card img {
    width: 96.5%;
}

.containerListaProdutos .listaProdutos .card h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 15px;
    color: #fff;
}

.containerListaProdutos .listaProdutos .card p {
    font-size: 0.7rem;
    color: #fff;
    font-weight: 400;
    margin: 10px 0;
}

.containerListaProdutos .listaProdutos .card span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
}

.containerListaProdutos .listaProdutos .card ol {
    height: 140px;
    list-style: decimal;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerListaProdutos .listaProdutos .card ol .nutriente {
    padding: 5px 0;
    min-width: 200px;
}

.containerListaProdutos .listaProdutos .card button {
    background-color: #12b8860d;
    border-radius: 8px;
    border: #12b8860d 1px solid;
    color: #12b886;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.containerListaProdutos .listaProdutos .card button:hover {
    transform: scale(1.02);
    background-color: #12b886;
    border: #12b886 1px solid;
    color: white;
}

.containerListaProdutos .listaProdutos .card div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* CONTAINER CARRINHO DE COMPRAS */

.section-carrinhoCompras {
    height: 100%;
    max-height: 400px;
    width: 30%;
}

.carrinhoCompras {
    height: 100%;
    overflow-y: auto;
}

.carrinhoCompras::-webkit-scrollbar {
    background-color: #fff;
}

.carrinhoCompras::-webkit-scrollbar-thumb {
    background-color: #1a60e2;
}

.carrinhoCompras-top {
    background-color: #1a60e2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.carrinhoCompras-top img {
    filter: invert(99%) sepia(30%) saturate(2%) hue-rotate(85deg) brightness(111%) contrast(100%);
    height: 25px;
    width: auto;
}

.carrinhoCompras-top h1 {
    font-size: 18px;
    color: #fff;
}

.carrinho-vazio {
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.carrinho-vazio #img-SacolaCompras {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(109%) contrast(109%);
    width: 60px;
    height: 60px;
}

.carrinho-vazio #p-NenhumProduto {
    color: #fff;
}

/* Cards Carrinho */

.cardCarrinho {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    margin: 26px 5px;
    transition: all 0.5s;
}

.cardCarrinho:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 13px 1px #1a60e2;
}

.cardCarrinho-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardCarrinho-left .quantidadeProdutoCarrinho {
    border-radius: 50%;
    padding: 1px 10px;
    color: #fff;
}

.cardCarrinho-left img {
    border-radius: 8px;
    width: 85px;
    height: 70px;
}

.cardCarrinhoInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.cardCarrinhoInfo h3 {
    font-size: 14px;
    font-weight: 500;
}

.cardCarrinhoInfo span {
    font-size: 12px;
    font-weight: 400;
}

.cardCarrinhoInfo p {
    font-size: 14px;
    font-weight: 400;
}

.cardCarrinho-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cardCarrinho-right .aumentar {
    filter: invert(62%) sepia(96%) saturate(3915%) hue-rotate(87deg) brightness(125%) contrast(119%);
    height: 25px;
    width: auto;
    cursor: pointer;
}

.cardCarrinho-right .diminuir {
    filter: invert(16%) sepia(90%) saturate(5464%) hue-rotate(353deg) brightness(101%) contrast(122%);
    height: 25px;
    width: auto;
    cursor: pointer;
}

.cardCarrinho-right .aumentar:hover,
.cardCarrinho-right .diminuir:hover {
    transform: scale(1.03);
}

/* TOTAL COMPRA */

.total-compra {
    background-color: #1a60e2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 126px;
    padding: 30px;
    display: none;
    flex-direction: column;
    gap: 30px;
}

.quantidade,
.total {
    color: #fff;
    font-weight: 600;    
    display: flex;
    justify-content: space-between;
}

/* MOBILE FIRST */

@media only screen and (max-width: 1024px) {

    .priceContainer {
        display: none;
    }
 
    .filtersContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #botoesContainer {
        display: flex;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    #botoesContainer button {
        min-width: 170px;
    }

    .containerListaProdutos {
        flex-direction: column;
    }

    .containerListaProdutos .listaProdutos {
        min-height: 350px;
        width: 100%;
        flex-wrap: nowrap;
    }

    .containerListaProdutos .listaProdutos .card {
        min-width: 250px;
    }

    .containerListaProdutos .listaProdutos .card ol {
        display: none;
    }

    .containerListaProdutos .section-carrinhoCompras {
        width: 100%;
        max-width: 500px;
        margin: 20px auto 50px auto;
    }

    .carrinho-vazio #p-NenhumProduto {
        word-wrap: break-word;
        width: 70%;
    }

}
